.copyright {
  height: 50px;
  display: flex;
  justify-content: center;
  background: #1c023b;
  align-items: center;
}

.copyright p {
  font-weight: 300;
  font-size: 1.2vw;
  line-height: 21px;
  /* identical to box height */

  color: rgba(253, 251, 255, 0.6);
}

@media only screen and (max-width: 769px) {
  .copyright p {
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 769px) {
  .copyright p {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 415px) {
  .copyright p {
    font-size: 3.8vw;
  }
}
