.navbar {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3% 0 3%;
  position: relative;
}

.menu {
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100vw;
  background-color: #8a8a8b;
}
/* .menu {
  width: 100%;
} */

.menu ul {
  width: 100%;
  padding-left: 0;
  margin-bottom: 0;
}
.menu ul li {
  list-style: none;
  padding: 1.8rem;
  width: 100%;
  background-color: #1c023b;
  margin-top: 2px;
}

.menu ul li a {
  text-decoration: none;

  font-weight: 250;
  font-size: 5vw;
  line-height: 72px;
  /* identical to box height, or 55% */

  color: rgba(255, 255, 255, 0.4);
}
.menu ul li:hover .menu ul li a {
  color: white;
}

@media only screen and (max-width: 542px) {
  .navbar {
    height: 60px;
  }
  .menu {
    top: 60px;
  }
}
@media only screen and (max-width: 410px) {
  .navbar {
    padding: 1rem;
  }
}
