.serviceDetails {
}

.invisibletext {
  visibility: hidden;
  font-size: 0.01rem;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgba(255, 255, 255);
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.sections {
  width: 100vw;
  margin-top: 65px;
}

/* ----------------Footer------------------------- */

.footer {
  background-color: #2b3a5a;
}

.modulefooter {
  background-color: #4b5a7b;
  /* #2b2c2e; */
}

.homefooter {
  background-color: var(--footer-bg-color);
}

.footerlogo {
  height: 2.3rem;
  width: 2.2rem;
}
.rescareerfooter {
  margin-top: 5rem;
}

.footertop {
  padding: 1.2rem 2rem;
  border-bottom: 1px solid #134255;
}

.footertop > h3 {
  color: aliceblue;
  font-family: "Varela Round", sans-serif;
}

.footerbody {
  display: flex;
  justify-content: space-around;
  padding: 3rem;
}

.footerbodycolumn {
}

.footerbodycolumn > h5 {
  font-weight: 600;
  letter-spacing: 0.3px;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  color: var(--footer-item-color);
  font-family: "Varela Round", sans-serif;
}

.footeritem > a > p,
.footeritem > p {
  color: var(--footer-item-color);
  font-size: 0.95rem;
  cursor: pointer;
  margin-bottom: 0;
}

.footeritem {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.footeritem img {
  height: 0.95rem;
  width: 0.95rem;
}

.logoflex {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.logoflextext > h6 {
  font-size: 1.4rem;
  color: var(--logo-texr-heading-color);
  margin-bottom: 0.1rem;
  font-family: "Varela Round", sans-serif;
}

.logoflextext > p {
  font-size: 0.8rem;
  margin-bottom: 0;
  font-weight: 600;
  /* color: #93b1d9; */
  color: var(--logo-texr-heading-2-color);
}

.iconflex {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1.5rem;
}

.social {
  height: 1.7rem;
  width: 1.7rem;
}

.footerbottom {
  border-top: 0.1px solid rgb(90, 89, 89);
  padding: 0.75rem;
  display: grid;
  place-items: center;
  color: #fff;
  font-size: 0.8rem;
  background-color: var(--footer-bottom-bg-color);
}

.footeritem a {
  text-decoration: none;
}

@media screen and (max-width: 570px) {
  .footerbody {
    flex-direction: column-reverse;
  }

  .footerbodycolumn {
    margin-bottom: 2rem;
    width: 100%;
  }

  .footerbodycolumn > h5 {
    margin-bottom: 1rem;
  }

  .iconcolumn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
  .logoflex {
    justify-content: center;
  }
}
