.rec.rec-arrow {
  display: none;
}

.kdCslO button {
  height: 1px;
  width: 1px;
  border-radius: 50%;
  background-color: rgb(92, 90, 90);
  box-shadow: 1px solid rgb(201, 195, 195);
}
.kdCslO button:focus {
  background-color: #010d31;
}
